:root{
    --cor-vermelho-ifood: #ea1d2c;
    --cor-cinza-texto: #575757;
    --cor-cinza-borda: #e2e2e2;
    --cor-fundo: #f7f7f7;
}
/* Zerando as propriedades do documento */
* {
    margin: 0;
    padding: 0;
}

body{
    /* Apliquei em todo o documento fonte, cor e cor fundo */
    font-family: 'Poppins', sans-serif;
    background-color: var(--cor-fundo);
    color: var(--cor-cinza-texto);
}
.cabecalho{
    background-color: #fff;
    padding: 15px 0;
    border-bottom: 1px solid var(--cor-cinza-borda);
}
.logo{
    height: 5vh;
}
.container{
    /* Propriedade define a largura maxima que ele pode atingir */
    max-width: 1200px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

.navegacao{
    display: flex;
    gap: 20px;
}

.item{
    /* Remover decoração da tag a */
    text-decoration: none;
    color: var(--cor-cinza-texto);
    /* Aplicando negrito */
    font-weight: 600;
    padding: 8px 0;
    border-bottom: 3px solid transparent;
}

.item:focus, 
.item:hover{
    color: var(--cor-vermelho-ifood);
    border-bottom-color: var(--cor-vermelho-ifood) ;
}
.buscar{
    padding: 10px;
    border: 1px solid var(--cor-cinza-texto);
    border-radius: 8px;
    width: 9rem; 
}

.localizacao{
    display: flex;
    align-items: center;
    font-weight: 600;
}

.texto-local{
    border: none;
    font-weight: 600;
    font-size: 1rem;
}

.acao{
    display: flex;
    align-items: center;
    gap: 14px;
}

.criar-conta{
    text-decoration: none;
    color: var(--cor-vermelho-ifood);
    font-weight: 600;
}

.entrar{
    background-color: var(--cor-vermelho-ifood);
    color:var(--cor-fundo);
    border: none;
    padding: 10px, 20px;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
}




.foto{
 height: 150px;
}

.foto2{
 height: 175px;
}

.foto3{
 height: 175px;
}
 .card-produto{
    display: flex;
    flex-direction: column;
    width: 13vw;
    align-items: center;
    transition: transform 0.2s ease;
    margin-top: 6rem;
    margin-left: 10rem;
 }

.card-produto:hover{transform: translateY(-5px) ;
}

.coluna{
    display:flex;
    flex-direction: row;
    gap: 5 px;
    overflow-x: scroll;
   
}
.coluna::-webkit-scrollbar{visibility: hidden;}
.produtos{
    display:flex;
    justify-content:left;
}


 .card-restaurante{
    display: flex;
    flex-direction: column;
    width: 13vw;
    align-items: center;
    transition: transform 0.2s ease;
    margin-top: 6rem;
    margin-left: 10rem;
 }

.card-restaurante:hover{transform: translateY(-5px) ;
}

.ver-mais{
    display: flex;
     justify-content:center;
    text-decoration: none;
    border: 1px solid red;
    color: red;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    margin-left: auto;
    width: fit-content;
    font-weight: bold;
  transition: 0.3s ease;
    
}
.ver-mais:hover {
  background-color: red;
  color: white;
}


 .card-promoção{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
     padding: 15px;
    display: flex;
    flex-direction: column;
    width: 13vw;
    align-items: center;
    transition: transform 0.2s ease;
    margin-top: 6rem;
    margin-left: 10rem;
 }

.card-promoção:hover{transform: translateY(-5px) ;
}
 .promoções{
     display: flex;
     justify-content:left;
    text-decoration: none;
 }

 .promo{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
 }
.preco {
  font-weight: bold;
  font-size: 15px;
  margin-top: 5px;
}
.header-promocoes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.rodape-principal{
    background-color: #575757;
    color: #fff;
    padding: 70px ;
        display: flex;
    justify-content: space-between;
}

.rodape-principal .container{
    display: flex;
    gap: 70px;
    margin-left: 140px;
}
.coluna-rodape{
    display: flex;
    flex-direction: column;
}
.coluna-rodape {flex: 1;}
.coluna-rodape h3{margin-bottom: 20px;}
.coluna-rodape ul{list-style: none;}
.coluna-rodape ul li{margin-bottom: 10px;}
.coluna-rodape a {text-decoration: none; color: #e2e2e2; transition: color 0.2s ease;}
.coluna-rodape a:hover{color: var(--cor-vermelho-ifood);}
.icones-socias a{margin-right: 15px; font-size: 20px; padding: 20px; gap: 50px;
}