.Loja{
background-color: rgb(230, 156, 195);
 margin: 0;
  padding: 0;
  text-align: center;
}

.cad{
    text-align: center;
}

.log{
    text-align: center;
}
.formulario{
    background-color: rgb(225, 15, 137);
    width: 400px;
    margin: 0 auto;
    /* Alinha o conteudo interno, centraliza */
    text-align: center;
}

.input-nome{
    /* remover as bordas */
    border: none;
    /* Aplica curvatura nos cantos das bordas */
    border-radius: 5px;
    margin-left: 10px;
    /* definir opacidade no campo do texto */
    opacity: 70%;
}
.botao{
    background-color: rgb(230, 156, 195);
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    /* Aplicando sombra no texto posição x, y blur */
    text-shadow: 5px 2px 5px rgba(242, 34, 145, 0.9);
}




.sexo{
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #f097d7;
    border-radius: 50%;

}
/* Pseudoclasse, quando o estado do objeto mudar ele atribui outras propriedades */
.sexo:checked{
    background-color: #f35fa4;
    border-color: #f097d7;
    
}

